<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nabil.theinstituteofus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/biti"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".row" />
        <activity android:name=".handsalist" />
        <activity android:name=".callus" />
        <activity android:name=".round" />
        <activity android:name=".roundinstitut" />
        <activity android:name=".mypdfviewer" />
        <activity android:name=".folderexams" />
        <activity android:name=".departments" />
        <activity android:name=".booksdir" />
        <activity android:name=".booksviewer" />
        <activity android:name=".byus"></activity>
    </application>

</manifest>